<!-- app/views/anuncios/show.html.erb -->
<p>
  <strong>Título:</strong>
  <%= @anuncio.titulo %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @anuncio.descripcion %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @anuncio.estado %>
</p>
<p>
  <strong>Marca:</strong>
  <%= @anuncio.marca %>
</p>
<p>
  <strong>Modelo:</strong>
  <%= @anuncio.modelo %>
</p>
<p>
  <strong>Daño/Marcas de uso:</strong>
  <%= @anuncio.daño %>
</p>
<% if @anuncio.image.attached? %>
  <p>
    <strong>Imagen:</strong><br>
    <%= image_tag @anuncio.image %>
  </p>
<% end %>
<%= link_to 'Volver', usuario_anuncios_path(@anuncio.usuario) %>
